POSTGRES_PRISMA_URL=postgresql://postgres:1234@localhost
POSTGRES_URL_NON_POOLING=postgresql://postgres:1234@localhost

NEXT_PUBLIC_DEFAULT_CURRENCY_CODE=""

OPENAI_BASE_URL=https://api.openai.com/v1
MAX_UPLOAD_IMAGE_SIZE=5242880