POSTGRES_PRISMA_URL=postgresql://postgres:1234@localhost
POSTGRES_URL_NON_POOLING=postgresql://postgres:1234@localhost

NEXT_PUBLIC_DEFAULT_CURRENCY_CODE=""

OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_RECEIPT_VISION_MODEL=gpt-5-nano
OPENAI_CATEGORY_TEXT_MODEL=gpt-3.5-turbo
MAX_UPLOAD_IMAGE_SIZE=5242880